* {
  margin: 0;
  padding: 0;
}

.ruler {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent 19px, #8BC34A 20px),
    linear-gradient(to bottom, transparent 19px, #8BC34A 20px);
  background-size: 20px 20px;
  background-repeat: repeat;
  z-index: -1;
}