.dialogue {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .dialogue-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .dialogue-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: vw(6);
    background-color: white;
    padding: vw(16);
    width: vw(300);
    box-sizing: border-box;
  }

  .dialogue-btn {
    margin-top: vw(16);
    display: flex;
    align-items: center;
    div {
      flex: 1;
      text-align: center;
      height: vw(30);
      line-height: vw(30);
    }

    .dialogue-btn-confirm {
      color: $button-color;
    }
  }
}