$design-width: 375;          // 定义设计稿的宽度
$main-color: #333;         // 文本主色彩
$vice-color: #999;         // 文本次级色彩
$active-color: #F24724;    // 文本高亮色彩
$button-color: #85CF26;    // 按钮颜色
$line-color: #EEEEEE;      // 分隔线颜色