.add {
  margin-top: 10px;
  display: flex;
  .add-input {
    padding-left: 5px;
    border: 1px solid black;
  }

  .add-btn {
    margin-left: 10px;
    background-color: $button-color;
    color: white;
    padding: 4px 10px;
    user-select: none;
    cursor: pointer;
  }
}