
$grid-width: 50px;

@mixin ruler {
  background: linear-gradient(to right, transparent $grid-width - 1, #8BC34A $grid-width),
    linear-gradient(to bottom, transparent $grid-width - 1, #8BC34A $grid-width);
  background-size: $grid-width $grid-width;
  background-repeat: repeat;
  z-index: -1;
}


.sphere-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @include ruler;
  canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}


.controller {
  position: relative;
  z-index: 1;
  &-item {
    margin-top: 40px;
    margin-left: 20px;
  }
}