@function vw($width) {
  @return $width / $design-width / 2 * 100vw ;
}

.checkbox-container {
  display: inline-block;
  .checkbox-basic {
    position: relative;
    display: inline-block;
    width: vw(36);
    height: vw(36);
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 100%;
    transition: all .3s;
    vertical-align: middle;
    &::after {
      content: "";
      position: absolute;
      top: 48%;
      left: 30%;
      width: vw(8);
      height: vw(16);
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(0) translate(-50%,-50%);
      opacity: 1;
      transition: all 0.3s;
    }
  }

  .checkbox-checked {
    background-color: #1B5EE2;
    border-color: #1B5EE2;
    &::after {
      content: "";
      position: absolute;
      top: 48%;
      left: 30%;
      width: vw(8);
      height: vw(16);
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(1) translate(-50%,-50%);
      opacity: 1;
      transition: all 0.3s;
    }
  }

  .checkbox-text {
    margin-left: vw(6);
    font-size: vw(26);
    color: #666;
    vertical-align: middle;
  }
}