@function vw($width) {
  @return $width / $design-width / 2 * 100vw ;
}

.tab {
  position: relative;
  overflow-x: scroll;
  &::-webkit-scrollbar { 
    width: 0;
  }
  .tab-list {
    display: flex;
    align-items: center;
    font-size: vw(30);
    .tab-item {
      flex: none;
      padding: vw(22) vw(18);
      &-active {
        color: $active-color;
      }
    }
  }

  .tab-slider {
    position: absolute;
    left: 0;
    bottom: 0;
    width: vw(60);
    height: vw(6);
    border-radius: vw(6);
    background-color: $active-color;
    transition: all 300ms;
  }
}